*, * * {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #f4efef;
  font-family: "Poppins", sans-serif;
  color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.log{
    background-color: rgb(210,205,203,0.6);
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 20px;
    width: 400px;
    bottom : 300px;
    border-radius: 30px;
}

.disImg{
    height: 400px;
    width: 400px;
}

.innav{
    display: inline-block;
}

.forms{
    margin: 10px 50px;
}
