body{
	background-image: url("https://images.fridaymagazine.ae/1_2138767/imagesList_0/1270494007_main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
			
.loginName{
    bottom : 270px ;
    color : #111111 ;
	text-align: center;
}

td{
	padding:5px;
}